ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="4ee2",RUN+="/home/pi/phone_docked.sh %s{idVendor} %s{idProduct} >> /home/pi/android-usb-audio-2.log"
ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="4ee1",RUN+="/home/pi/phone_docked.sh %s{idVendor} %s{idProduct} >> /home/pi/android-usb-audio-2.log"
ACTION=="add",SUBSYSTEM=="usb",ATTR{idVendor}=="18d1",ATTR{idProduct}=="2d03",RUN+="/home/pi/phone_docked.sh %s{idVendor} %s{idProduct} >> /home/pi/android-usb-audio-2.log"
